{% include 'navbar.html' %}
{% load static %}

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="about-section">
  <h1>About Us</h1>
  <p>This project anytime anywhere remember all queries of students Motivate peoples to use. Easy to use: E-Notes Project is very easy to use..</p>
</div>
<br><br>
<h2 style="text-align:center">Our Team</h2>
<div class="row justify-content-center">
  <div class="column">
    <div class=" card">
      <img src="{% static 'images/t2.jpg' %}" alt="Raj" style="border-radius: 50%;">
      <div class="container">
        <h2>Raj</h2>
        <p class="title">Developer</p>
        <p>Student</p>
        <p>raj@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

 

</body>
</html>



